{% extends 'main/base.html' %}

{%block content%}
<h1>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates eligendi
  sed libero officia excepturi nostrum deserunt, quas, obcaecati facilis
  adipisci dolore id sit nam eum asperiores ab aut alias odio et dicta mollitia
  animi possimus exercitationem! Magnam, libero voluptatum vero deserunt illo
  dolore impedit? Officiis repellendus iure similique quisquam quis sequi ad
  architecto provident inventore laboriosam! Facere, quo reprehenderit iusto
  totam illum magni delectus vel, aliquam vero nisi officia eligendi similique
  neque quisquam doloribus minus omnis nemo in rerum porro magnam distinctio ad!
  Autem facilis ullam possimus sint similique officiis velit. Accusantium iste
  aliquid quaerat porro aperiam, ipsam libero quasi.
</h1>

{% endblock %}